.popup__container {
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 430px;
    width: 100%;
}

@media (max-width: 879px) {
    .popup__container {
        max-width: 282px;
    }
}