.profile {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;
}

@media (max-width: 879px) {
    .profile {
        flex-direction: column;
        row-gap: 25px;
        padding-top: 42px;
        padding-bottom: 36px;
    }
}