.footer {
    margin-top: 67px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media (max-width: 879px) {
    .footer {
        padding-top: 48px;
        padding-bottom: 36px;
    }
}