.profile__job {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 7px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 879px) {
    .profile__job {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}

position: absolute;
width: 282px;
height: 14px;
left: 19px;
top: 312px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
